asgiref==3.11.1
click==8.3.3
colorama==0.4.6
cssbeautifier==1.15.4
Django==6.0.5
djlint==1.36.4
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.14.0
pathspec==1.1.1
PyYAML==6.0.3
regex==2026.5.9
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
tzdata==2026.2
